* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.nav-title {
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #B88987;
}

.nav {
    width: 100%;
    height: 91.72px;
    background: #E6E1D6;
}

.nav__input {
    border: 0;
    margin-top: 19px;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    width: 274px;
    height: 52px;
    padding-left: 10px;
    margin-left: 136px;
}

.nav__input-two {
    margin-top: 19px;
    display: flex;
    height: 52px;
    width: 90px;
    background-color: #E6E1D6;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    align-items: center;
    justify-content: flex-end;
}

.nav__input-four {
    margin-right: 21px;

}

input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B88987;
}

.nav__input-search {
    display: flex;
}


.nav__icon-one {
    margin-top: 36.86px;
    margin-left: 30px;
    display: block;
    background-image: url(../icon/hamburg.svg);
    width: 30px;
    height: 16px;
}

.nav__icon-two {
    margin-top: 25px;
    margin-left: 560px;
    display: block;
    background-image: url(../icon/logo.svg);
    width: 200px;
    height: 42px;
}

.nav__icon-three {
    display: block;
    background-image: url(../icon/basket.svg);
    width: 24px;
    height: 24px;
    margin-left: 62px;
    margin-top: 34px;
}

.nav__list {
    display: flex;
}

.back {
    background-image: url(../img/back.png);
    height: 751px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.back__block {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 42px;
    width: 308px;
    background: #E6E1D6;
    border: 3px solid #E6E1D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #000000;
}

.info {
    width: 100%;
    height: 569px;
    background: #E6E1D6;
}

.info__text-one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

.info__text-two {
    width: 1090px;
    height: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info__text-two {
    margin-top: 44px;
}

.catalog__block {
    height: 838px;
}

.catalog__card {
    display: flex;
    width: 388.81px;
    height: 354.58px;
    flex-direction: column;
    align-items: center;
}

.catalog__card-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.catalog__card-text-two {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.catalog__card-text-three {
    margin-top: 5px;
    margin-left: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.catalog__card-flex {
    display: flex;
    justify-content: space-between;
}

.catalog__card-flex_margin {
    margin-top: 50px;
}

.catalog__title {
    margin-top: 88px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    color: #B88987;

}

.from {
    margin-top: 100px;
    height: 1080px;
    width: 100%;
    display: flex;
}

.from__block {
    background: #CFACAD;
    width: 50%;
    height: 1080px;
}

.from__img {
    width: 50%;
    object-fit: cover;
}

.from__text-li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.from__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.from__text-li_margin {
    margin-top: 14px;
}

.from__text-li_margin-two {
    margin-top: 33px;
}

.from__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from__btn {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 44px;
    border: 3px solid #FFFFFF;
}

.from__btn-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.add-basket {
    height: 600px;
    display: flex;
}

.add-basket__one-block {
    width: 50%;
    height: 600px;
    background-color: #E6E1D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-basket__two-block {
    width: 50%;
    height: 600px;
    object-fit: cover;
}

.add-basket__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #B88987;
}

.add-basket__text-two {
    margin-top: 18px;
    width: 553px;
    height: 74px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.add-basket__text-one {
    margin-top: 33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #B88987;
}

.add-basket__add-block {
    margin-top: 37.59px;
    display: flex;
    width: 120px;
    height: 44px;
    background: #F9F9F9;
    border: 1px solid #BFBFBF;
    justify-content: space-evenly;
    align-items: center;
}

.add-basket__add-left {
    border: 0;
    cursor: pointer;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #444444;
}

.add-basket__add-right {
    border: 0;
    cursor: pointer;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #444444;
}

.add-basket__add-text {
    width: 23px;
    height: 23px;
    border: 0;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.add-basket__btn {
    margin-top: 19px;
    width: 300px;
    height: 48px;
    background: #000000;
    border: 3px solid #E6E1D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-basket__btn-decor {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.add-basket__text-decor {
    margin-top: 33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;

}

.brands {
    background-image: url(../img/brands.png);
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover
}

.glowing__one-block {
    width: 50%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glowing__one-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 44px;

    text-align: center;
    color: #B88987;
}

.glowing__one-text-two {
    margin-top: 34px;
    width: 535px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;

}

.glowing__one-btn {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 44px;
    background: #E6E1D6;
    border: 3px solid #E6E1D6;
}

.glowing__one-btn-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.glowing__two-block {
    width: 50%;
    height: 1080px;
    background-image: url(../img/back-glowing.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.glowing {
    display: flex;
}

.kh {
    height: 322px;
    width: 100%;
    background: #CFACAD;
}

.kh__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.kh__text-two {
    margin-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.kh__input {
    width: 301px;
    height: 44px;
    background: #F9F9F9;
    border: 1px solid #BFBFBF;
    padding-left: 10px;
}

.kh__text-subs {

    cursor: pointer;
    width: 159px;
    height: 44px;
    background: #E6E1D6;
    border: 1px solid #E6E1D6;
    margin-left: -15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.kh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kx__input-main {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

input[type="email"] {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.story__one-block {
    background-image: url(../img/story.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 960px;

}

.stroy__two-block {
    height: 960px;
    width: 50%;
    background: #E6E1D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story {
    display: flex;
}

.story__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #B88987;
}

.story__text {
    margin-top: 34px;
    width: 558px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.story__more {
    margin-top: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.blog__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #B88987;
}

.blog__block {
    margin-top: 100px;
    width: 100%;
    height: 672.77px;
}

.blog__card-title {
    margin-top: 34px;
    width: 351px;
    height: 59px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #B88987;
}

.block__card-data {
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #000000;
}

.block__card-text {
    margin-top: 16px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
}

.block__card-text-two {
    margin-top: 16px;
    height: 105px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.blog__card-read {
    margin-top: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #ECB1B0;
    display: block;
    width: 66px;
    border-bottom: 1px solid #ECB1B0;
}

.blog__cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__card-title_width {
    width: 372px;
}

.blog__card-read_margin {
    margin-top: 49px;
}

.blog__card-text-two_height {
    height: 147px;
}

.blog__card {
    display: flex;
    flex-direction: column;

}

.blog__img {
    margin-left: 10px;
}

.contacts {
    margin-top: 150px;
    height: 377px;
    width: 100%;
    background: #CFACAD;

}

.contacts__ul {
    display: flex;
    justify-content: space-between;
}

.contacts__li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.contacts__block {
    width: 908px;
}

.contacts__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 377px;
}

.contacts__icon-one {
    margin-left: 5px;
}

.contacts__icon-two {
    margin-right: 5px;
}

.contacts__icons {
    margin-top: 14px;
}

.contacts__text-decor {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.contacts__cards {
    margin-top: 11.55px;
    width: 581px;
    display: flex;
    justify-content: space-between;
}



.swiper__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    /* or 147% */
    margin-top: 79px;
    text-align: center;

    color: #B88987;
}

.swiper__info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-top: 34px;
    text-align: center;
    color: #000000;

}

.swiper {
    margin-top: 30px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    height: 346px;
    width: 346px;
    object-fit: cover;
}

.swiper__btn {
    margin-top: 20px;
    width: 206px;
    height: 44px;
    background: #E6E1D6;
    border: 3px solid #E6E1D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper__btn-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}
.swiper__main-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.add-basket{
    margin-top: 80px;
}